<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/aop 
	                  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	                  http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context-3.0.xsd
                      http://www.springframework.org/schema/lang
                      http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
                      http://www.springframework.org/schema/tx 
                      http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                      http://www.springframework.org/schema/util 
                      http://www.springframework.org/schema/util/spring-util-3.0.xsd">


  <!-- Use annotations to configure our components -->
  <context:annotation-config />
  <context:component-scan base-package="com.fbs.web.vaadin" />

  <!-- Sample RDBMS data source that would exist in any application, not Shiro related. -->
  <bean id="dataSourceShiro" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
    <property name="url" value="jdbc:hsqldb:mem:shiro-spring" />
    <property name="username" value="sa" />
  </bean>
  <!-- Populates the sample database with sample users and roles. -->
  <bean id="bootstrapDataPopulator" class="com.fbs.security.shiro.BootstrapDataPopulator">
    <property name="dataSource" ref="dataSourceShiro" />
  </bean>


  <!-- Test -->
  <bean id="demoService" class="com.fbs.web.vaadin.DemoServiceImpl" />

  <bean id="parentDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" abstract="true">
    <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
    <property name="username" value="sa" />
  </bean>

  <bean id="goldDataSource" parent="parentDataSource">
    <property name="url" value="jdbc:hsqldb:mem:gold" />
  </bean>

  <bean id="silverDataSource" parent="parentDataSource">
    <property name="url" value="jdbc:hsqldb:mem:silver" />
  </bean>

  <bean id="bronzeDataSource" parent="parentDataSource">
    <property name="url" value="jdbc:hsqldb:mem:bronze" />
  </bean>

  <bean id="catalog" class="com.fbs.datasource.Catalog">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="dataSource" class="com.fbs.datasource.CustomerRoutingDataSource">
    <property name="targetDataSources">
      <map key-type="com.fbs.datasource.CustomerType">
        <entry key="GOLD" value-ref="goldDataSource" />
        <entry key="SILVER" value-ref="silverDataSource" />
        <entry key="BRONZE" value-ref="bronzeDataSource" />
      </map>
    </property>
    <property name="defaultTargetDataSource" ref="bronzeDataSource" />
  </bean>
  
  <!-- Populates the sample database with sample users and roles. -->
  <bean id="itemDataPopulator_1" class="com.fbs.datasource.ItemDataPopulator">
    <property name="dataSource" ref="goldDataSource" />
    <property name="client" value="1"/>
  </bean>
   <bean id="itemDataPopulator_2" class="com.fbs.datasource.ItemDataPopulator">
    <property name="dataSource" ref="silverDataSource" />
    <property name="client" value="2"/>
  </bean>
   <bean id="itemDataPopulator_3" class="com.fbs.datasource.ItemDataPopulator">
    <property name="dataSource" ref="bronzeDataSource" />
    <property name="client" value="3"/>
  </bean>

</beans>
